<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BannerImage" value="Default"/>
    <add key="LogoImage" value="jpy32.png"/>
    <add key="EULA" value="EULA.rtf"/>
    <add key="Require" value="MOSS"/>
    <add key="MinSharePointVersion" value="15.0.0.0"/>
    <add key="MaxSharePointVersion" value=""/>
    <add key="SolutionId" value="4afed3ca-4e64-4be8-b131-b526dfe8d4ee"/>
      <!-- FarmFeatureId: Old way to specify a single farm-level feature
            obsoleted by newer FeatureId key -->
    <add key="FarmFeatureId" value="a400c304-c160-472a-9300-682d9aa5951d"/>
      <!-- FeatureId: Feature(s) to install/upgrade/repair
          Either a single GUID, or a semicolon delimited GUID list -->
    <add key="FeatureId" value="a400c304-c160-472a-9300-682d9aa5951d"/>
      <!-- FeatureScope: Scope of feature(s) specified in FeatureId
          Legal values: Farm, Web Application, Site, Web-->
    <add key="FeatureScope" value="Web"/>
    <add key="SolutionFile" value="JPYSPS.SPFieldChoiceUpdater.wsp"/>
    <add key="SolutionTitle" value="JPYSPS SPFieldChoice Auto Choices Updater"/>
      <!-- SolutionVersion: Version of solution: this value is stored in the farm property bag -->
    <add key="SolutionVersion" value="1.0.0.0"/>
    <add key="UpgradeDescription" value="Upgrades {SolutionTitle} on all frontend web servers in the SharePoint farm."/>
    <add key="RequireDeploymentToCentralAdminWebApplication" value="false"/>
    <add key="RequireDeploymentToAllContentWebApplications" value="false"/>
      <!-- DefaultDeployToSRP: Whether box for Shared Resource Provider web app is initially checked
            if user is prompted for web applications to target -->
    <add key="DefaultDeployToSRP" value="false"/>
    <add key="DefaultDeployToAdminWebApplications" value="false"/>
    <add key="DefaultDeployToContentWebApplications" value="false"/>
      <!-- PromptForWebApplications: To force user prompt for web application; 
           useful if a dll is included, so SafeControl entries needed, 
           but feature not at webapp level -->
    <add key="PromptForWebApplications" value="true"/>
      <!-- CompatibilityLevel: For SharePoint 2013, see docs for Install-SPSolution -->
    <add key="CompatibilityLevel" value="15"/>
  </appSettings>
</configuration>
